{% extends "home.html" %}
{% load static %}

{% block title %} About {% endblock %}

{% block content %}
<body id= "bk"  style="background-image: url({% static 'images/background2.png' %})">
<br>
  <h2 style="text-align: center"> Who Are We? </h2>
   <p style="text-align: center"> Magic Brains Library is owned by book addicts. <br>
   Our mission is to spread the habit of reading books (As easy, as possible).
   </p>
<br>
<h2 style="text-align: center"> What is your role? </h2>
<p style="text-align: center"> As a reader, you can read and share what you think about any book in the online library.</p>
<p style="text-align: center"> As a reader, you can share BOOKS TOO! This can help our organization to become wider.</p>
<h5 style="text-align: left; margin-top:100px; margin-left:100px; color: orange"> Contact :</h5>
<a style="text-align: left; margin-top:110px; margin-left:100px ; color: gray"> MagicBrains@gmail.com </a>
<br>
<a style="text-align: left; margin-top:100px; margin-left:100px; color: gray"> Tel: +966 50 444 349</a>
</body>
{% endblock %}
