{% extends "home.html" %}
{% load static %}

{% block title %} Show Reviews {% endblock %}

{% block content %}
<body id= "bk" style="background-image: url({% static 'images/background2.png' %})">
<br>
<h3 style="text-align: center"> Thank you!! your review for the book is added. </h3>

<!-- for loop to show our reviews from views-->
<div style="border-style:ridge; width: 800px; margin-left: 50px; margin-top: 50px;">
{% if reviews %}
{% for review in reviews %}
    <div style="border-style:ridge;">
    <h6> ({{ review.name }}): {{ review.comment }}</h6>
    <p style="color: gray"> {{review.review_date}}, Review of the book: {{review.book.namebook}}</p>
        <a href="{% url 'view:delete' review.id %} " style="margin-left: 1em; color: coral;"> Delete </a>

        <a href="{% url 'view:edit' review.id %}" style="margin-left: 2em; color: cadetblue;" > Edit </a>
        <a href="{% url 'view:edit' review.id %} "> {{ review.item }} </a>

</div>

{% endfor %}

{% else %}
<p style="text-align: center"> No Reviews yet! </p>
{% endif %}
</div>

</body>
{% endblock %}