{% extends "home.html" %}
{% load static %}

{% block title %} Library of Books {% endblock %}

{% block content %}
<body >
<h2 style="text-align: center"> All Books </h2>



{% if books %}
<div style="margin-left: 150px">
    {% for book in books %}
<!-- card 1 -->
<div class="row" style="margin: 0 -5px; display: block">
  <div class="column" style="float: left; width: 30%; padding: 0 10px"">

    <div class="card1">
<div class="star">
    <div class="body">
<div class="wrapper">
    <div class="card">
        <img src="{{ book.image.url }}">
        <div class="info" style="margin-top: -20px">
            <h1>{{ book.namebook }}</h1>
            <p> {{ book.description }} </p>
            <h6 style="margin-top: -30px"> shared by:{{ book.publisher }}</h6>
            <a href="#" class="btn"> Read it </a>
        </div>
    </div>
</div>
</div>
</div>
    </div>
</div>
<!-- end of card-->
    {% endfor %}
</div>
{% else %}
        <p style="text-align: center"> No Books Available ..</p>
{% endif %}


</body>
{% endblock %}