{% extends 'products/base.html' %}
{% load static %}

  {% block q%}
<head><title>products page</title></head>
  {% endblock %}


{% block content%}
<div class="container">
<div class="row row-cols-1 row-cols-md-3 g-4">
   {% if products %}
    {% for product in products %}
  <div class="col">

    <div class="card">
      <img src="{{ product.photo.url }}" class="card-img-top" width="250" height="300" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <h6 class="card-title" >{{product.description}}</h6>
        <h4 class="card-title" align="right">{{product.price}}SR</h4>
      </div>
    </div>
    </div>

    {% endfor %}
    {% endif%}

</div>
    {% endblock%}