{% extends 'base.html' %}
{% block content %}
<br>
<div class="container">
  <div>
            <p class="fw-lighter fs-3">See all Reviews</p>
     </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Review</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for i in reviews %}
    <tr>
      <th scope="row">{{i.id}}</th>
      <td>{{i.name}}</td>
      <td>{{i.review}}</td>
      <td>
      <a href="/edit/{{i.id}}"> <button type="submit" class="btn btn-outline-success">Edit</button></a>
      </td>
      <td>
      <a href="/delete/{{i.id}}"> <button type="submit" class="btn btn-outline-danger">Delete</button></a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
   <a href="/rev"> <button type="submit" class="btn btn-outline-secondary">Add New Review</button></a>
</div>
{% endblock %}