{% extends 'base.html' %}
{% load static %}
{% block title %} Home-Page
{% endblock %}

{% block navbar %}
<form class="d-flex" method="GET" xmlns="http://www.w3.org/1999/html">
        <input class="form-control me-2" type="search" placeholder="Search of the task" name="search" aria-label="Search">
        <button class="btn btn-outline-secondary" type="submit" value="search" >Search!</button>
      </form>
{% endblock navbar %}


{% block content %}
<div class="container" >
</div>



<table class="table">
        <thead>
        <tr>
            <th>Task NO             </th>
            <th>Task title          </th>
            <th>Task description    </th>
            <th>Task created date   </th>
            <th>Created by          </th>
            <th>Action         </th>


        </tr>
    </thead>
{% for i in tasks_items %}

<tr class="table-info">

    <tbody>
    <td>  <strong>{{ i.id }}</strong>    </td>
    <td>  {{ i.title }}                  </td>
    <td>  {{ i.description }}            </td>
    <td>  {{ i.created_date }}           </td>
    <td>  {{ i.name }}                   </td>
    <td> <a href="{% url 'delete' i.id %} "> <img src="{% static 'images/delete.icon.jpg' %}" width="35" height="20"></a> </td>

    {% comment %}
    <td> <a href="{% url 'edit' i.id %} "> <img src="{% static 'images/edit.icon.png' %}" width="25" height="15"></a> </td>
    {% endcomment %}
</tr>

{% endfor %}

    </tbody>
</table>


{% endblock %}